@import "fonts.css";

html, body {
  margin:               0;
  padding:              0;
  height:               100%;
}

nav{
  margin:               0;
  padding:              0; 
  background-color:     #ec008c;
  overflow:             hidden;
}

div{
  margin: 0;
  padding: 0;
  font-size: 0;
}

nav div ul{
  display:              block;
  margin:               0;
  padding:              0;
  list-style-type:      none;
  overflow:             hidden;
}

nav div ul li {
  float:                left;
}

#pageFlex{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


#bodyContent{
  flex:2;
  display: flex;
  flex-wrap:nowrap;
  flex-direction: column;
  margin:               0;
  padding:              0;
  font-size:            0;
  background-color:     rgba(0, 0, 0, 0.5);
}

/**
* Style for desktop view
*/
@media screen and (min-width:768px) {
  /**
  * Style for primary navigation 
  */

  li.hamburger, .Mobile{
    display:              none;
  }

  nav > img{
    padding:              24px;
    padding-right:        48px;
    display:              inline-block;
    float:                left;
  }

  nav  div{
    display:              inline;
  }

  nav div ul li a, .dropbtn{
    display:              inline-block;
    padding:              12px 24px 12px 24px;
    color:                white;
    text-align:           center;
    font:                 21px/48px 'HUGEAvantGardeBold';
    text-decoration:      none;
  }

  nav li a:hover, .dropdown:hover .dropbtn {
      background-color:   #ffffff;
      color:              #ec008c;
  }

  /**
  * Style for secondary Navigation
  */
  .dropdown-content {
    display:              none;
    position:             absolute;
    background-color:     #ffffff;
  }

  .dropdown-content a {
    display:              block;
    padding:              12px;
    text-align:           left;
    font:                 16px/48px 'Galaxie';
    color:                #000000;
    font-size:            16px;
    text-decoration:      none;  
    background-color:     #ffffff;
    position:             relative; 
    z-index:              1;
  }

  .show{
    display:              block;
    background-color:     #ffffff;
  }

  .dropdown-content a:hover {
    background-color:     #eee;
  }

  /**
  * Style for body page 
  */
  #headLineDesktop {
    display:             inline-block;
    position:            relative;
    background-image:    url(../images/background-image.jpg);
    background-size:     cover;
    width:               100%;
    height:              640px;
    overflow:            auto;
  }

  #headLineDesktop h1 {
    position:           absolute;
    top:                50%;
    left:               50%;
    margin:             0;
    text-align:         center;  
    font:               120px/132px 'HUGEAvantGardeBold';
    color:              #ffffff;
    transform:          translate(-50%, -50%);
  }

  #bodyCopyDesktop{
    flex:                2;
    margin:              0;
    padding:             0;
    position:            relative;
    text-align:          center;
    background-color:    #ffffff;
  }
 
  #bodyCopyDesktop p{
    position:           absolute;
    left:               50%;
    top:                60px;
    display:            inline-block; 
    margin:             0;
    width:              968px;
    font:               24px/36px 'Galaxie';
    color:              #000000;
    transform:          translate(-50%, 0);
  }

  @media screen and (max-height:700px){
    #headLine h1{
      font-size:        10vw;
    }
  }

  @media screen and (max-width:968px){
    #bodyCopy p{
      width:            98%;
    }
  }
}

@media screen and (max-width:767px) {


  nav > img , .Desktop{
    display:           none;
  } 

  li.hamburger{
    float:             left;
    display:           inline-block;
    padding:           20px 24px 20px 24px;
  }

  #headLineMobile {
    display:             inline-block;
    position:            relative;
    background-image:    url(../images/background-image.jpg);
    background-size:     cover;
    width:               100%;
    height:              240px;
  }

  #headLineMobile + h1 {
    position:           relative;
    padding:            50px 24px 50px 24px;
    margin:             0;
    text-align:         left;  
    font:               44px/48px 'HUGEAvantGardeBold';
    color:              #000000;
    background-color:   #ffffff;
  }

  #bodyCopyMobile{
    flex:                2;
    margin:              0;
    padding:             0;
    position:            relative;
    text-align:          center;
    background-color:    #ffffff;
  }

  #bodyCopyMobile p{
    position:           absolute;
    display:            block; 
    margin:             0;
    padding:            0 24px 0 24px;
    font:               14px/24px 'Galaxie';
    color:              #000000;
    text-align:         justify;
  }

  nav.topNavnavMobile > img{
    position:             relative;
    padding:              12px 24px 12px 24px;
    display:              inline-block;;
    float:                none;
  }
  nav.topNavnavMobile{
    height: 100%;
    
  }
  nav.topNavnavMobile div ul{
    position:             relative;
    background-color:     #ffffff;
    width: 70%;
    height: 100%;
  }

  /**
  * Style for primary navigation 
  */

  nav.topNavnavMobile div ul li.hamburger{
    display:              none;
  }
  nav.topNavnavMobile div ul li{
    background-color:     #ffffff;
    float:                none;
    width: 70%;
    display: inline-block;
  }

  nav.topNavnavMobile div ul li a, nav.topNavnavMobile .dropbtn{
    position:             relative;
    text-align:           left;
    padding:              12px 0 0 24px;
    color:                #000000;
    font:                 21px/48px 'HUGEAvantGardeBold';
    text-decoration:      none;
  }

  /*nav li a:hover, .dropdown:hover .dropbtn {
      background-color:   #ffffff;
      color:              #ec008c;
  }*/

    /**
  * Style for secondary Navigation
  */
  .dropdown-content {
    display:              none;
    position:             absolute;
    background-color:     #ffffff;
  }
}
