@import "fonts.css";

body {
  margin:  0;
  padding: 0;
  overflow: hidden;
}

nav{
  margin:               0;
  padding:              0; 
  background-color:     #ec008c;
  overflow:             hidden;
}

div{
  margin: 0;
  padding: 0;
  font-size: 0;
}
@media screen and (min-width:768px) {

  nav img{
    display:              inline-block;
    padding:              24px;
    padding-right:        48px;
    float:                left;
  }
  nav div{
    display:              inline;
  }
  nav div ul{
    margin:               0;
    padding:              0;
    list-style-type:      none;
    overflow:             hidden;

  }
  nav li {
    float:                left;

  }
  nav li a, .dropbtn{
    display:              inline-block;
    padding:              12px 24px 12px 24px;
    color:                white;
    text-align:           center;
    font:                 21px/48px 'HUGEAvantGardeBold';
    text-decoration:      none;
  }


  nav li a:hover, .dropdown:hover .dropbtn {
      background-color:   #ffffff;
      color:              #ec008c;
  }

  .dropdown-content {
    display:              none;
    position:             absolute;
    background-color:     #ffffff;
  }
  .dropdown-content a {
    display:              block;
    padding:              12px;
    text-align:           left;
    font-family:          'Galaxie';
    color:                #000000;
    font-size:            16px;
    text-decoration:      none;  
    background-color:     #ffffff;
    position: relative; 
     z-index: 1000;
 
  }
  .dropdown-content a:hover {
    background-color:#eee;
  }

  .show{
    display:              block;
    background-color:     #ffffff;
  }
  .dropdown-content:hover  {
    display:              block;
    background-color:     #ffffff;
  }

  #mask{
    opacity: 0.5;
  }
  #headLine {
    display: inline;
    position: absolute;
    width: 100%;
    height: 640px;
    background-image: url(../images/background-image.jpg);
    background-size: cover;
  }

  #bodyCopy{
    position: absolute;
    bottom: 0;
  }
  p{
    color: blue;
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    transform: translate(-50%, -50%);
    margin: 0;
    font: 120px/132px 'HUGEAvantGardeBold';
    text-align: center;
  }
}

@media screen and (max-width:767px) {
  
}
